.js-underline {
  position: relative;
}
.js-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 3px #317159;
  left: 0;
  bottom: -8px;
  border-radius: 50%;
  height: 8px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.js-underline:after {
  transform: scaleX(1);
}
.gradient_background{
  background: -webkit-linear-gradient(
    45deg,
    hsla(133, 18%, 75%, 1) 62%,
    hsla(180, 18%, 93%, 1) 78%,
    hsla(135, 19%, 75%, 1) 100%
  );
}
.js-about-bg-image{
  background-image: url('/engajify/public/filters_brightness(-10).webp');
  height: 100%;
  width: 100%;
  object-fit: contain;
}