@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    background: -webkit-linear-gradient(
    45deg,
    hsla(133, 18%, 75%, 1) 62%,
    hsla(180, 18%, 93%, 1) 78%,
    hsla(135, 19%, 75%, 1) 100%
  );
}